name: tests
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
permissions:
  contents: read

jobs:
  unit:
    name: Unit
    runs-on: 'ubuntu-20.04'
    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
      with:
        egress-policy: audit

    - uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
    - uses: actions/setup-go@be3c94b385c4f180051c996d336f57a34c397495 # v3.6.1
      with:
        go-version: '~1.20.1'
        check-latest: true
        cache: true

    - run: go version
    - run: go mod download # Not required, used to segregate module download vs test times
    - run: make test-with-coverage
    - name: Upload coverage reports to Codecov
      uses: codecov/codecov-action@ab904c41d6ece82784817410c45d8b8c02684457 # v3.1.6
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        files: ./coverage.txt